<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Comparison</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='assets/css/comp.css') }}" />
    <link rel="stylesheet"  href="{{ url_for('static', filename='assets/css/fontawesome-all.min.css') }}" />
</head>
<body>

    <!-- <h1>Results</h1> -->
    
    <div class="comparison-container">
        <!-- Amazon Products Column -->
        <div class="column">
        <img src="{{url_for('static',filename='images/amazon_logo.png')}}" alt="Amazon Logo" class="logo">
        {% for amazon_prod in data %}  
        <div class="product-box">
            <div class="product">
        <img src="{{amazon_prod['amazon_pic']}}" alt="Product Image">
            <div class="product-info">
                    <h3>{{amazon_prod['amazon_prod']}}</h3>
                    <p>{{amazon_prod['amazon_price']}} E£</p>
                    <a href="{{amazon_prod['amazon_ref']}}" target="_blank">View Product in Amazon</a>
                </div>
                </div>
                </div>
                <br>
             {%endfor%}
        </div>

        <!-- Noon Products Column -->
        <div class="column">
            <img src="{{url_for('static',filename='images/noon_logo.png')}}" alt="Noon Logo" class="logo">
            {% for noon_prod in data %}
            <div class="product-box">
                <div class="product">
            <img src="{{noon_prod['noon_pic']}}" alt="Product Image">
                <div class="product-info">
                    <h3>{{noon_prod['noon_prod']}}</h3>
                    <p>{{noon_prod['noon_price']}} E£</p>
                    <a href="{{noon_prod['noon_ref']}}" target="_blank">View Product in Noon</a>
                </div>
            </div>
            </div>
            <br>
            {%endfor%}
        </div>
    </div>
</body>
</html>
